body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.header{
    padding: 2% 0% 0% 15%;
}
.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;

}
.footer{
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}